.container {
	max-width: 1760px;
	margin: 0 auto;
	padding: 0 180px;

	@media (max-width: 1439px) {
		max-width: 1280px;
		padding: 0 100px;
	}

  @media (max-width: 1179px) {
    max-width: 1068px;
    padding: 0 44px;
  }

	@include vp-767 {
		max-width: 750px;
		padding: 0 35px;
	}
}
